html {
  text-align: center;
}

.home {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.productcard {
  margin: 15px;
}

.header {
  height: 50px;
  display: flex;
  align-content: space-between;
}
.cart {
  margin-left: 1400px;
}

.collection {
  width: 30%;
  margin: auto;
}